{% extends 'layout.html' %}

{% from "./macros/product-cards.njk" import productCards %}

{% block pageTitle %}
    API documentation
{% endblock %}

{% block beforeContent %}

    {{ govukPhaseBanner ({
        tag: {
            text: "prototype"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">API documentation</h1>

    </div>

</div>

<div class="govuk-grid-row">
    
    <div class="govuk-grid-column-one-third api-navigation">
        
        <h4 class="govuk-heading-s">Common basic data set <span style="white-space: nowrap;">(CBDS) API</span></h4>

        {{ govukInsetText ({
            html: '<a href="api-docs.html" style="font-weight: bold;">CBDS API</a><br><span class="govuk-body-s">v1.0</span>',
            classes: 'active'
        }) }}

        <h4 class="govuk-heading-s">Financial reporting API</h4>

        <script>

            function toggleApiKey(keyID) {
                var $keyObject = $('#' + keyID);
                console.log($keyObject);
                if ($keyObject.is('.not-shown')) {
                    $keyObject.addClass('not-shown')
                } else {
                    $keyObject.removeClass('not-shown')
                }
            }

        </script>

        <p class="govuk-body-s">
            <a href="javascript:toggleApiKey('fr-api-key')">Reveal API key</a>
        </p>

        <p id="fr-api-key" class="govuk-body-s not-shown">
            {{ '' | clientSecret }}
        </p>

        {{ govukInsetText ({
            html: '<a href="api-docs-fr.html">Submission API</a><br><span class="govuk-body-s">v1.0</span>'
        }) }}

        <h4 class="govuk-heading-s">School census API</h4>

        <p class="govuk-body-s">
            <a href="#">Reveal API key</a>
        </p>

        {{ govukInsetText ({
            html: '<a href="#census-insights">Data insights API</a><br><span class="govuk-body-s">v1.0</span>'
        }) }}

        {{ govukInsetText ({
            html: '<a href="#census-school-census">School census API</a><br><span class="govuk-body-s">v1.0</span>'
        }) }}

    </div>

    <div class="govuk-grid-column-two-thirds">
        
        <span class="govuk-caption-l">Common basic data set (CBDS) API</span>
        <h2 class="govuk-heading-l">CBDS API v1.0</h2>

        <p>
            A set of common basic data set (CBDS) APIs.
        </p>


        {% set ethnicityHTML %}

            <p>
                Get a list of CBDS Ethnicity codes
            </p>

            <p class="url-block">
                {{ govukTag({
                    text: 'get',
                    classes: 'govuk-!-margin-right-2'
                }) }}
                <span class="monospaced">api/cbds/childethnicities</span>
            </p>

            {{ govukTable ({
                caption: 'Response codes',
                captionClasses: 'govuk-visually-hidden',
                firstCellIsHeader: true,
                head: [
                    {
                        text: 'Response code'
                    },
                    {
                        text: 'Description'
                    }
                ],
                rows: [
                    [
                        {
                            text: '200'
                        },
                        {
                            text: 'Success'
                        }
                    ],
                    [
                        {
                            text: '404'
                        },
                        {
                            text: 'Not found'
                        }
                    ],
                    [
                        {
                            text: '500'
                        },
                        {
                            text: 'Server error'
                        }
                    ]
                ]
            }) }}

        {% endset %}

        {{ govukDetails({
            summaryText: 'Ethnicity codes',
            html: ethnicityHTML
        }) }}

        {% set exclusionHTML %}

            <p>
                Get a list of CBDS pupil exclusion category codes
            </p>

            <p class="url-block">
                {{ govukTag({
                    text: 'get',
                    classes: 'govuk-!-margin-right-2'
                }) }}
                <span class="monospaced">api/cbds/exclusioncategories</span>
            </p>

            {{ govukTable ({
                caption: 'Response codes',
                captionClasses: 'govuk-visually-hidden',
                firstCellIsHeader: true,
                head: [
                    {
                        text: 'Response code'
                    },
                    {
                        text: 'Description'
                    }
                ],
                rows: [
                    [
                        {
                            text: '200'
                        },
                        {
                            text: 'Success'
                        }
                    ],
                    [
                        {
                            text: '404'
                        },
                        {
                            text: 'Not found'
                        }
                    ],
                    [
                        {
                            text: '500'
                        },
                        {
                            text: 'Server error'
                        }
                    ]
                ]
            }) }}

        {% endset %}

        {{ govukDetails({
            summaryText: 'Exclusion category codes',
            html: exclusionHTML
        }) }}

        {% set exclusionReasonHTML %}

            <p>
                Get a list of CBDS pupil exclusion reason codes
            </p>

            <p class="url-block">
                {{ govukTag({
                    text: 'get',
                    classes: 'govuk-!-margin-right-2'
                }) }}
                <span class="monospaced">api/cbds/exclusionreasons</span>
            </p>

            {{ govukTable ({
                caption: 'Response codes',
                captionClasses: 'govuk-visually-hidden',
                firstCellIsHeader: true,
                head: [
                    {
                        text: 'Response code'
                    },
                    {
                        text: 'Description'
                    }
                ],
                rows: [
                    [
                        {
                            text: '200'
                        },
                        {
                            text: 'Success'
                        }
                    ],
                    [
                        {
                            text: '404'
                        },
                        {
                            text: 'Not found'
                        }
                    ],
                    [
                        {
                            text: '500'
                        },
                        {
                            text: 'Server error'
                        }
                    ]
                ]
            }) }}

        {% endset %}

        {{ govukDetails({
            summaryText: 'Exclusion reason codes',
            html: exclusionReasonHTML
        }) }}

        {% set languageHTML %}

            <p>
                Get a list of CBDS language lookup codes
            </p>

            <p class="url-block">
                {{ govukTag({
                    text: 'get',
                    classes: 'govuk-!-margin-right-2'
                }) }}
                <span class="monospaced">api/cbds/languagecodes</span>
            </p>

            {{ govukTable ({
                caption: 'Response codes',
                captionClasses: 'govuk-visually-hidden',
                firstCellIsHeader: true,
                head: [
                    {
                        text: 'Response code'
                    },
                    {
                        text: 'Description'
                    }
                ],
                rows: [
                    [
                        {
                            text: '200'
                        },
                        {
                            text: 'Success'
                        }
                    ],
                    [
                        {
                            text: '404'
                        },
                        {
                            text: 'Not found'
                        }
                    ],
                    [
                        {
                            text: '500'
                        },
                        {
                            text: 'Server error'
                        }
                    ]
                ]
            }) }}

        {% endset %}

        {{ govukDetails({
            summaryText: 'Language codes',
            html: languageHTML
        }) }}


        {% set senHTML %}

            <p>
                Get a list of CBDS pupil SEN type codes
            </p>

            <p class="url-block">
                {{ govukTag({
                    text: 'get',
                    classes: 'govuk-!-margin-right-2'
                }) }}
                <span class="monospaced">api/cbds/pupilsentypecodes</span>
            </p>

            {{ govukTable ({
                caption: 'Response codes',
                captionClasses: 'govuk-visually-hidden',
                firstCellIsHeader: true,
                head: [
                    {
                        text: 'Response code'
                    },
                    {
                        text: 'Description'
                    }
                ],
                rows: [
                    [
                        {
                            text: '200'
                        },
                        {
                            text: 'Success'
                        }
                    ],
                    [
                        {
                            text: '404'
                        },
                        {
                            text: 'Not found'
                        }
                    ],
                    [
                        {
                            text: '500'
                        },
                        {
                            text: 'Server error'
                        }
                    ]
                ]
            }) }}

        {% endset %}

        {{ govukDetails({
            summaryText: 'Pupil SEN type codes',
            html: senHTML
        }) }}

        {% set senProvisionHTML %}

            <p>
                Get a list of CBDS SEN provision codes
            </p>

            <p class="url-block">
                {{ govukTag({
                    text: 'get',
                    classes: 'govuk-!-margin-right-2'
                }) }}
                <span class="monospaced">api/cbds/senprovisions</span>
            </p>

            {{ govukTable ({
                caption: 'Response codes',
                captionClasses: 'govuk-visually-hidden',
                firstCellIsHeader: true,
                head: [
                    {
                        text: 'Response code'
                    },
                    {
                        text: 'Description'
                    }
                ],
                rows: [
                    [
                        {
                            text: '200'
                        },
                        {
                            text: 'Success'
                        }
                    ],
                    [
                        {
                            text: '404'
                        },
                        {
                            text: 'Not found'
                        }
                    ],
                    [
                        {
                            text: '500'
                        },
                        {
                            text: 'Server error'
                        }
                    ]
                ]
            }) }}

        {% endset %}

        {{ govukDetails({
            summaryText: 'Pupil SEN type codes',
            html: senProvisionHTML
        }) }}

    </div>

</div>

{% endblock %}