{% extends 'layout.html' %}

{% block pageTitle %}
    Prototype options
{% endblock %}

{% block beforeContent %}

    {{ govukPhaseBanner ({
        tag: { text: 'prototype' },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="/register-product" method="post">

                <h1 class="govuk-heading-xl">Register MIS product</h1>

                {{ govukInput ({
                    id: 'product-name',
                    name: 'product-name',
                    classes: 'govuk-input--width-20',
                    label: {
                        text: 'Product name',
                        classes: 'govuk-input--width-20'
                    },
                    hint: {
                        text: 'You can use letters, numbers and spaces. Can be up to 50 characters long.'
                    }
                }) }}

                {{ govukInput ({
                    id: 'redirect-url',
                    name: 'redirect-url[0]',
                    type: 'url',
                    label: {
                        text: 'Redirect URL(s)'
                    },
                    hint: {
                        text: 'Redirects users back to the application with an authorisation code.'
                    }
                }) }}

                <p>
                    <a id="addButton" href="javascript:addURLRow()" class="govuk-!-margin-right-5">Add another redirect URL</a>
                    <a id="removeButton" href="javascript:removeURLRow()">Remove last redirect URL</a>
                </p>

                <script>

                    function validateButtons() {
                        var numberOfURLRows = $('input[id*="redirect-url"]').length;
                        if (numberOfURLRows > 1) {
                            $('#removeButton').show()
                        } else {
                            $('#removeButton').hide()
                        }

                        if (numberOfURLRows >= 20) {
                            $('#addButton').hide()
                        } else {
                            $('#addButton').show()
                        }
                    }

                    function addURLRow() {
                        var newInput = $('#redirect-url').clone();
                        var numberOfURLRows = $('input[id*="redirect-url"]').length;
                        newInput.attr('name', 'redirect-url[' + numberOfURLRows + ']');
                        newInput.attr('id', 'redirect-url-' + numberOfURLRows);
                        newInput.css('margin-top', 15 + 'px');
                        newInput.val('');
                        $('#redirect-url').closest('.govuk-form-group').append(newInput);
                        validateButtons()
                    }

                    function removeURLRow() {
                        $('input[id*="redirect-url"]:last-child').remove();
                        validateButtons()
                    }

                    validateButtons()
                
                </script>

                {{ govukInput ({
                    id: 'product-email',
                    name: 'product-email',
                    type: 'email',
                    classes: 'govuk-input--width-20',
                    label: {
                        text: 'Email address',
                        classes: 'govuk-input--width-20'
                    },
                    hint: {
                        text: 'We will send product information to this email address.'
                    }
                }) }}

                <hr class="govuk-section-break govuk-section-break--visible">

                {{ govukCheckboxes ({
                    idPrefix: 'terms-agreed',
                    name: 'terms-agreed',
                    classes: 'govuk-!-margin-top-6',
                    fieldset: {
                        legend: {
                            text: 'Confirm your understanding of the terms and conditions',
                            isPageHeading: false,
                            classes: 'govuk-visually-hidden'
                        }
                    },
                    items: [
                        {
                            html: 'I understand and agree to the <a href="">terms and conditions</a>',
                            value: 'confirmed'
                        }
                    ]
                }) }}

                <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

                {{ govukButton ({
                    html: 'Register product'
                }) }}

            </form>

        </div>

</div>

{% endblock %}